<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

  <header>
    <span id="logo"><a href="/"> Guerrilla Surveys </a></span> 
    <% if current_user %>
    <div id="nav_links">
      <div id="create_poll_button">+ New poll</div>
      
      <a href="/surveys">View All Surveys</a>
      
      <a href="/user/<%= current_user.id%>"> <%= current_user.username %></a>
      <a href='/logout'>Logout</a>
    </div>
    <% end %>
  </header>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
