<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

  <header>
    <h1><a href="/"> Guerrilla Surveys </a></h1> 
    <% if current_user %>
      <span id="create_poll_button">+ New poll</span>
      <span><a href="/user/<%= current_user.id%>"> <%= current_user.username %></a><span>
      <span><a href='/logout'>Logout</a></span>      
    <% end %>
  </header>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
