
  <h1>Take this Survey</h1>
  
  <form method="post" action="/create">
    <input type="text" name="title" placeholder="Title">
    <div id="question">
      <input type="text" name="question1" placeholder="Question 1">
      <div id="choice">
        
        <input type="text" name="question[choices][]" placeholder="Choice 1">
        <input type="text" name="question[choices][]" placeholder="Choice 2">
      </div>
      <button class="add_choice">Add Answer</button>
      <!-- <input type="hidden" id="counter" value="2" name="counter"> -->
    </div>
    
    
    <input type="submit" value="Submit">
  
  </form>

